@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap);

:root {
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    background-color: var(--Charcoal-Grey);
}

#form-container {
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    max-width: 900px;
    align-items: center;
    background-color: var(--White);
    border-radius: 25px;
}

#picturecontainer {
    margin: 1em;
}

#form {
    margin: 3em;
}

h1 {
    font-size: max(3.5em);
}

ul {
    list-style-image: url(/assets/images/icon-list.svg);
    display: flex;
    flex-direction: column;
    padding-left: 1.25em;
}

li {
    margin: 0.4em;
    padding-left: 0.8em;
}

label {
    font-weight: 700;
    color: var(--Dark-Slate-Grey);
    font-size: 0.8em;
}

input {
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid var(--Grey);
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 0.8em;
}

button {
    width: 104%;
    height: 3.5em;
    border-radius: 5px;
    border: none;
    margin: 1.5em 0;
    padding: 0.5em;
    font-size: 0.8em;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-weight: 700;
    cursor: pointer;
}

/* I switched display to grid here so I could organize the elements with the picture element on top when the screen is mobile */
@media screen and (max-width: 500px) {
    #form-container {
        width: auto;
        display: grid;
        grid-template-areas:
            "picture",
            "form";
        border-radius: 0;
    }

    #form {
        grid-area: form;
        margin-top: 10em;
    }

    #picturecontainer {
        grid-area: picture;
        margin-bottom: 40em;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;

    }

    button {
        width: 100%;
    }

    input {
        width: 95%;
    }

    h1 {
        font-size: 2.5em;
    }
}